<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
</head>
<body>
    <h2>Admin Login</h2>
    <form method="post" action="/admin-process">
        <table>
            <tr>
                <td>아이디:</td>
                <td><input type="text" name="adminid"></td>
            </tr>
            <tr>
                <td>비밀번호:</td>
                <td><input type="password" name="admin_pw"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Login</button></td>
            </tr>
        </table>
    </form>
</body>
</html>
