<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필 편집</title>
</head>
<body>
    <h2>프로필 편집</h2>
    <form method="post" th:object="${member}">
	    <table border="">
	        <tr>
	            <td>이름:</td>
	            <td>
	                <input type="text" th:field="*{username}">
	                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
	            </td>
	        </tr>
	        <tr>
	            <td>이메일:</td>
	            <td>
	                <input type="text" th:field="*{email}">
	                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
	            </td>
	        </tr>
	        <tr>
	            <td>전화 번호:</td>
	            <td>
	                <input type="text" th:field="*{phone}">
	                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" />
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <button type="submit">저장</button>
	            </td>
	        </tr>
	    </table>
	</form>


</body>
</html>
