<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항 수정</title>
<style>
	*{margin: 0; padding: 0; box-sizing: border-box;}
	h1{text-align: center; margin: 30px auto;}
	table{margin: 0 auto;}
	input{width: 100%;}
	textarea{width: 700px; height: 500px; resize: none;}
	button{padding: 5px 15px;}
</style>
</head>
<body>
    <h1>공지사항 수정</h1>    
    <form th:action="@{/qnaBoard/modify/{id}(id=${qModify.no})}" method="post">
		<table border="" cellspacing="">
			<tr>
				<th><label for="title">제목</label></th>
				<td><input type="text" name="title" th:value="${qModify.title}" /></td>       
	        </tr>
			<tr>
				<th><label for="username">작성자</label></th>
				<td><input type="text" name="user_id" th:value="${qModify.user_id}" /></td>
			</tr>
			<tr>
			    <th><label for="content">내용</label></th>
			    <td><textarea id="content" name="content" th:text="${qModify.content}"></textarea></td>
			</tr>
			<tr>
			    <th colspan="2" align="right">
			        <button type="submit">수정</button>						  
			        <a th:href="@{/qnaBoard/delete/{id}(id=${qModify.no})}" onclick="return confirm('삭제하시겠습니까?')" ><button value="삭제">삭제</button></a>
			        <a th:href="@{/qnaBoard/list}"><button value="목록">목록</button></a>
			    </th>      		 
			</tr>
        </table>
    </form>
    
</body>
</html>
