<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Thema 삭제</title>
</head>
<body>
    <h1>테마 삭제</h1>
    <p>정말로 삭제하시겠습니까?</p>
    <form th:action="@{/thema/delete}" method="post" th:object="${thema}">
        <input type="hidden" th:field="*{themaId}" />
        <button type="submit">삭제</button>
    </form>
    <a th:href="@{/thema/themaList}">테마 목록으로 돌아가기</a>
</body>
</html>
