<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>homeIntro</title>
</head>
<body>
<h1>홈페이지 소개</h1>


<div th:each="intro : ${homepageIntroList}">
    <h1 th:text="${intro.title1}"></h1>
    <h3 th:text="${intro.content1}"></h3>
    
    <hr/>
    
    <h1 th:text="${intro.title2}"></h1>
    <h3 th:text="${intro.subtitle1}"></h3>
    <h3 th:text="${intro.content2}"></h3>
    <h3 th:text="${intro.subtitle2}"></h3>
    <h3 th:text="${intro.content3}"></h3>
    <h3 th:text="${intro.content4}"></h3>
    <h3 th:text="${intro.content5}"></h3>
    
    <hr/>
    
    <h2 th:text="${intro.title3}"></h2>
    <a th:href="@{'/edit/' + ${intro.id}}">수정</a>

</div>


</body>
</html>