<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>후기 작성</title>
</head>
<body>
    <h1>후기 작성</h1>
    <!--notice_id/user_id/branch_id/title/content/type/regDate/modiDate/fileName
    user_id, branch_id, title, content, type, regDate, modiDate, fileName-->
    <form th:action="@{/reviewBoardr/write}" method="post" enctype="multipart/form-data">
    <table border="">
        <tr>
            <td>제목</td>
            <td><input type="text" id="title" name="title"></td>
        </tr>
        <tr>
            <td>작성자</td>
            <td><input type="text" id="user_id" name="user_id"></td>
        </tr>
        <tr>
            <td>파일</td>
            <td><input type="file" id="file" name="file" accept="image/*"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea id="content" name="content" ></textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <button type="submit">작성</button>
                <a th:href="@{/reviewBoardr/list}"><button value="목록">목록</button></a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>